name: Deploy Dev

on:
  push:
    branches: [develop]

permissions:
  id-token: write
  contents: read

jobs:
  build:
    uses: ./.github/workflows/build.yaml
    secrets: inherit

  deploy:
    needs: build
    uses: ./.github/workflows/deploy-env.yaml
    with:
      environment: dev
      deploy_env: dev
    secrets: inherit
