name: Deploy Staging

on:
  push:
    branches: [staging]

permissions:
  id-token: write
  contents: read

jobs:
  build:
    uses: ./.github/workflows/build.yaml
    secrets: inherit

  deploy:
    needs: build
    uses: ./.github/workflows/deploy-env.yaml
    with:
      environment: staging
      deploy_env: staging
    secrets: inherit
